header {
    border: 3px solid black;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.calendar-icon, .placegolder-date {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 50%;
}

main {
    border: 3px solid black;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}